In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../data/in_process/Games_cleaned.csv', index_col = 'game_id')

In [4]:
df = df.drop(['names', 'geek_rating', 'num_votes','mechanic', 'category', 'expands', 'owned', 'designer', 'publisher'], axis = 1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3836 entries, 1 to 287954
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   min_players  3836 non-null   int64
 1   max_players  3836 non-null   int64
 2   avg_time     3836 non-null   float64
 3   year         3836 non-null   int64
 4   avg_rating   3836 non-null   float64
 5   age          3836 non-null   int64
 6   weight       3836 non-null   float64
 7   Category_1   3836 non-null   object
 8   Category_2   3836 non-null   object
 9   Category_3   3836 non-null   object
 10  Category_4   3836 non-null   object
 11  Mechanic_1   3836 non-null   object
 12  Mechanic_2   3836 non-null   object
 13  Mechanic_3   3836 non-null   object
 14  Mechanic_4   3836 non-null   object
 15  Mechanic_5   3836 non-null   object
dtypes: float64(3), int64(4), object(9)
memory usage: 509.5+ KB

In [9]:
df.fillna(value=0, inplace = True)